# Base de donnees
POSTGRES_DB=macollection
POSTGRES_USER=macollection
POSTGRES_PASSWORD=macollection
POSTGRES_PORT=5432

# Les placeholder correspond au POSTGRES_? au dessus
DATABASE_URL=postgresql+psycopg://USER:PASSWORD@localhost:PORT/DB

# Application
SECRET_KEY=cle_secrete
ALGORITHM=HS256
TOKEN_EXPIRE_MIN=30
CORS_ORIGIN=http://localhost:5173